.button {
  outline: none;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: none;
  background-color: transparent;
  background-size: 18px 18px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  &::after {
    pointer-events: none;
    transition: 0.4s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    opacity: 0.6;
    border-radius: 50%;
  }

  &:hover::after,
  :focus::after {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.8);
  }
}

.button-play {
  background-image: url("data:image/svg+xml,%3Csvg height='512' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M405.2 232.9L126.8 67.2c-3.4-2-6.9-3.2-10.9-3.2-10.9 0-19.8 9-19.8 20H96v344h.1c0 11 8.9 20 19.8 20 4.1 0 7.5-1.4 11.2-3.4l278.1-165.5c6.6-5.5 10.8-13.8 10.8-23.1s-4.2-17.5-10.8-23.1z'/%3E%3C/svg%3E");
}

.button-pause {
  background-image: url("data:image/svg+xml,%3Csvg height='512' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M224 435.8V76.1c0-6.7-5.4-12.1-12.2-12.1h-71.6c-6.8 0-12.2 5.4-12.2 12.1v359.7c0 6.7 5.4 12.2 12.2 12.2h71.6c6.8 0 12.2-5.4 12.2-12.2zM371.8 64h-71.6c-6.7 0-12.2 5.4-12.2 12.1v359.7c0 6.7 5.4 12.2 12.2 12.2h71.6c6.7 0 12.2-5.4 12.2-12.2V76.1c0-6.7-5.4-12.1-12.2-12.1z'/%3E%3C/svg%3E");
}

.button-other {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.st0%7Bfill:%23fff%7D%3C/style%3E%3Cg id='Layer_2'%3E%3Ccircle class='st0' cx='256' cy='93.53' r='50.03'/%3E%3Ccircle class='st0' cx='256' cy='256' r='50.03'/%3E%3Ccircle class='st0' cx='256' cy='418.47' r='50.03'/%3E%3C/g%3E%3C/svg%3E");
}

.button-fullScreen {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 96 96' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M30 0H6a5.997 5.997 0 00-6 6v24a6 6 0 0012 0V12h18a6 6 0 000-12zM90 0H66a6 6 0 000 12h18v18a6 6 0 0012 0V6a5.997 5.997 0 00-6-6zM30 84H12V66a6 6 0 00-12 0v24a5.997 5.997 0 006 6h24a6 6 0 000-12zM90 60a5.997 5.997 0 00-6 6v18H66a6 6 0 000 12h24a5.997 5.997 0 006-6V66a5.997 5.997 0 00-6-6z'/%3E%3C/svg%3E");
}

.button-sound {
  background-image: url("data:image/svg+xml,%3Csvg height='512' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M319.967 503.497v-67.34C394.335 409.732 447.9 339.457 447.9 256c0-83.426-53.564-153.732-127.934-180.156V8.503C430.254 36.988 511.867 136.812 511.867 256c0 119.188-81.613 219.043-191.9 247.497zM256 511.868L128.066 383.936h-95.95c-17.679 0-31.983-14.307-31.983-31.983V160.05c0-17.679 14.306-31.983 31.983-31.983h95.95L256 .133s31.982-3.998 31.982 31.983v447.769c.001 35.981-31.982 31.983-31.982 31.983zm-31.983-383.802l-63.967 63.967H64.099v127.934h95.951l63.967 63.969v-255.87zM415.916 256c0 59.532-40.854 109.132-95.949 123.404v-68.309c19.053-11.087 31.982-31.482 31.982-55.096 0-23.612-12.931-44.008-31.982-55.097v-68.308c55.096 14.275 95.949 63.875 95.949 123.406z'/%3E%3C/svg%3E");
}

.button-sound-disable {
  background-image: url("data:image/svg+xml,%3Csvg height='512' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M511.603 303.727l-47.694 47.726-47.726-47.726-47.726 47.726-47.693-47.726L368.457 256l-47.693-47.725 47.693-47.726 47.726 47.726 47.726-47.726 47.694 47.726L463.907 256l47.696 47.727zM256.266 511.868L128.332 383.936H32.381c-17.678 0-31.983-14.307-31.983-31.983V160.05c0-17.679 14.307-31.983 31.983-31.983h95.951L256.266.133s31.983-3.998 31.983 31.983v447.769c0 35.981-31.983 31.983-31.983 31.983zm-31.984-383.802l-63.968 63.967h-95.95v127.934h95.951l63.968 63.969v-255.87z'/%3E%3C/svg%3E");
}
