@font-face {
	font-family: 'custom-icons';
	src: url('font/custom-icons.eot?20669103');
	src: url('font/custom-icons.eot?20669103#iefix') format('embedded-opentype'),
	url('font/custom-icons.woff2?20669103') format('woff2'),
	url('font/custom-icons.woff?20669103') format('woff'),
	url('font/custom-icons.ttf?20669103') format('truetype'),
	url('font/custom-icons.svg?20669103#custom-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	position: relative;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "custom-icons", sans-serif;
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-emo-wink:before { content: '\e801'; } /* '' */
.icon-emo-unhappy:before { content: '\e802'; } /* '' */
.icon-emo-sleep:before { content: '\e803'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-emo-devil:before { content: '\e805'; } /* '' */
.icon-emo-surprised:before { content: '\e806'; } /* '' */
.icon-emo-tongue:before { content: '\e807'; } /* '' */
.icon-emo-coffee:before { content: '\e808'; } /* '' */
.icon-emo-sunglasses:before { content: '\e809'; } /* '' */
.icon-sun:before { content: '\e80a'; } /* '' */
.icon-moon:before { content: '\e80b'; } /* '' */
.icon-emo-grin:before { content: '\e80c'; } /* '' */
.icon-emo-angry:before { content: '\e80d'; } /* '' */
.icon-stop:before { content: '\e80e'; } /* '' */
.icon-emo-cry:before { content: '\e80f'; } /* '' */
.icon-pause:before { content: '\e810'; } /* '' */
.icon-emo-squint:before { content: '\e811'; } /* '' */
.icon-emo-laugh:before { content: '\e812'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
.icon-play:before { content: '\e814'; } /* '' */
.icon-fast-fw:before { content: '\e815'; } /* '' */
.icon-rewind:before { content: '\e816'; } /* '' */
.icon-resize-full-alt:before { content: '\e817'; } /* '' */
.icon-volume-off:before { content: '\e818'; } /* '' */
.icon-volume-down:before { content: '\e819'; } /* '' */
.icon-volume-up:before { content: '\e81a'; } /* '' */
.icon-volume:before { content: '\e81b'; } /* '' */
.icon-spin:before { content: '\e839'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-cancel:before { content: '\e81c'; } /* '' */
