body {
	--main-background: #fafafa;
	--main-background-dark: #343434;

	--ancent-color: #1a1a1a;
	--ancent-color-light: #353535;
	--ancent-color-dark: #000;

	--text-shadow-color: #d8d8d8;
}

body.dark-theme {
	--main-background: #151515;
	--main-background-dark: #010101;

	--ancent-color: #d7d7d7;
	--ancent-color-light: #adadad;
	--ancent-color-dark: #989898;

	--text-shadow-color: #5c5c5c;
}

* {
	box-sizing: border-box;
}

html, body {
	background-color: var(--main-background);
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: auto;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: var(--ancent-color-light);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--ancent-color-dark)
}

.reset-button {
	border: none;
	background-color: transparent;
	font: inherit;
	color: var(--ancent-color);
	cursor: pointer;
}

.reset-button:hover {
	color: var(--ancent-color-dark)
}
