.header {
	display: flex;
	align-items: center;
	padding: 0 calc(0.5vw + 0.5vh);
	height: 4rem;
}

@media (max-width: 640px) {
	.header {
		height: 3rem;
	}
}

.header-list {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0 -0.5vw;
}

.header-list > li {
	padding: 0;
	margin: 0 0.5vw;
}

.header-spacer {
	flex: 1 1 0;
}
