@font-face {
	font-family: 'fontello';
	src: url('../font/fontello.eot?29441167');
	src: url('../font/fontello.eot?29441167#iefix') format('embedded-opentype'),
		url('../font/fontello.woff2?29441167') format('woff2'),
		url('../font/fontello.woff?29441167') format('woff'),
		url('../font/fontello.ttf?29441167') format('truetype'),
		url('../font/fontello.svg?29441167#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello", sans-serif;
	font-style: normal;
	font-weight: normal;
	speak: none;
	text-decoration: inherit;
	width: 1.2em;
	font-size: 1.2em;
	height: 1.2em;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-settings:before { content: '\e800'; } /* '' */
.icon-moon:before { content: '\e801'; } /* '' */
.icon-sun:before { content: '\e802'; } /* '' */
.icon-play:before { content: '\e803'; } /* '' */
.icon-pause:before { content: '\e804'; } /* '' */
.icon-next:before { content: '\e805'; } /* '' */
.icon-previous:before { content: '\e806'; } /* '' */
.icon-volume-off:before { content: '\e807'; } /* '' */
.icon-resize:before { content: '\e808'; } /* '' */
.icon-volume:before { content: '\e80a'; } /* '' */
.icon-loading:before { content: '\e834'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */